<html>
 <head>
     <title>Deletar</title>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 </head>
 <body>
 <form action="/delete" method="POST" modelAttribute="atleta">
 
 ID:<br>
   <input type="text" name="id" th:value="${atleta.id}" readOnly="true"><br>
   <br>
   Nome Atleta:<br>
   <input type="text" name="name" th:value="${atleta.nome}" readOnly="true"><br>
   <br>
   Idade Atleta:<br>
   <input type="text" name="idade" th:value="${atleta.idade}" readOnly="true"><br>
   <br>
   Modalidade Atleta:<br>
   <input type="text" name="modalidade" th:value="${atleta.modalidade}" readOnly="true"><br>
   <br>
   Posição Atleta:<br>
   <input type="text" name="posicao" th:value="${atleta.posicao}" readOnly="true"><br>
   
   <input type="submit" value="Deletar">
 </form>
 </body>
</html>