<html>
 <head>
 <title>CRUD Atleta</title>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 <style>
 table, th, td {
   border: 1px solid black;
   border-collapse: collapse;
 }
 </style>
 </head>
 <body>
 <a href="insert">Inserir novo</a> | <a href="read">Ver todos</a> <br> <br>
 <table style="width:100%">
 <tr>
     <th>ID</td>
     <th>Nome</td>
     <th>Idade</td>
     <th>Modalidade</td>
     <th>Posição</td>
     <th>Time</td>
     <th>Excluir?</td>
     <th>Alterar?</td>
 </tr>
 <tr th:each="atleta : ${atletas}">
     <td th:text="${atleta.id}"></td>
     <td th:text="${atleta.nome}"></td>
     <td th:text="${atleta.idade}"></td>
     <td th:text="${atleta.modalidade}"></td>
     <td th:text="${atleta.posicao}"></td>
     <td th:text="${atleta.time_id}"></td>
     <td><a th:href="@{/delete(id=${atleta.id})}">Deletar</a></td>
     <td><a th:href="@{/update(id=${atleta.id})}">Alterar</a></td>
 </tr>
 </table>
 </body>
</html>